.footerContainer{
    background-color: brown;
    justify-content: center;
    color: white;
    padding: 15px 0;
   
}
.logos svg{
    font-size: xx-large;
    margin: 0 15px;
    cursor: pointer;
}